
.container-square{

    &-11{
      top: 0;
      left:0;
      outline: 1px;
      border-radius: 6%;
   border:1px solid black;
      position: absolute;
      z-index: 9;
    }
    &-12{
        top: 0;
        left:$square-size;
        border-radius: 6%;
        position: absolute;
        border:1px solid black;
        z-index: 9;
    }
    &-13{
        top: 0;
        left:$square-size*2;
        position: absolute;
        border:1px solid black;
        border-radius: 6%;
        z-index: 9;
    }
    &-21{
        top: $square-size;
        left:0;
        border-radius: 6%;
        border:1px solid black;
        position: absolute;
        z-index: 9;
    }
    &-22{
        top: $square-size;
        left:$square-size;
        position: absolute;
        border-radius: 6%;
        border:1px solid black;
        z-index: 9;
    }
    &-23{
        top: $square-size;
        left:$square-size*2;
        position: absolute;
        border-radius: 6%;
        border:1px solid black;
        z-index: 9;
    }
    &-31{
        top: $square-size*2;
        left:0;
             position: absolute;
             border-radius: 6%;
             border:1px solid black;
             z-index: 9;
    }
    &-32{
        top: $square-size*2;
        left:$square-size;
        position: absolute;
        border-radius: 6%;
        border:1px solid black;
        z-index: 9;
    }


    &-empty{
        top: $square-size*2;
        left:$square-size*2;
        position: absolute;
        border-radius: 6%;
        border:1px solid black;
        z-index: 1;
    }
}

.win{
 mix-blend-mode: lighten;
 animation: winAnim 1s linear infinite;
}

@keyframes winAnim{
      0%{
      opacity: 0.5;
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0.5;
      }
}